<ion-tabs>
    <ion-tab-bar slot="bottom">
        <ion-tab-button tab="popular">
            <ion-label color="secondary">Popular</ion-label>
        </ion-tab-button>

        <ion-tab-button tab="novo">
            <ion-label color="secondary">Novo</ion-label>
            <ion-badge>1</ion-badge>
        </ion-tab-button>

        <ion-tab-button tab="guardado">
            <ion-label color="secondary">Guardado</ion-label>
        </ion-tab-button>

        <ion-tab-button tab="topo">
            <ion-label color="secondary">Topo</ion-label>
        </ion-tab-button>
    </ion-tab-bar>
</ion-tabs>
