<ion-header>
  <ion-toolbar color="secondary">
    <ion-button slot="start" color="secondary" (click)="back()">
      <ion-icon name="arrow-back" color="" size="large"></ion-icon>
    </ion-button>
    <p align="center">
      <ion-title>
        Benfica vs Sporting
      </ion-title>
    </p>
  </ion-toolbar>
</ion-header>
<ion-content>

<ion-content>
  <ion-list>
    <ion-item-divider>
      <ion-label color="secondary">
        Ronaldo
      </ion-label>
    </ion-item-divider>

    <ion-item>
    <ion-card>
      I think Sporting will win easy! So i will bet in Sporting and get easy money.
    </ion-card>

    </ion-item>
    <ion-item-divider>
      <ion-label color="secondary">
        Messi
      </ion-label>
    </ion-item-divider>
    <ion-item>
      <ion-card>
        I also think Sporting will win easy!
      </ion-card>
    </ion-item>

  </ion-list>
  <ion-fab vertical="bottom" horizontal="start" slot="fixed">
    <ion-fab-button color="secondary">
      <ion-icon name="arrow-dropright"></ion-icon>
    </ion-fab-button>
    <ion-fab-list side="top">
      <ion-item >
        <ion-label  (click)="goTopicForum()" >Respond to topic</ion-label>
      </ion-item>
    </ion-fab-list>
  </ion-fab>
</ion-content>
</ion-content>
