<ion-header>
  <ion-toolbar color="tertiary">
    <ion-buttons slot="start">
      <ion-menu-button color="secondary"></ion-menu-button>
    </ion-buttons>
    <ion-title color="secondary">
      Plataforma de Resumos
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>


  <ion-card>

    <ion-item>
      <ion-avatar item-start>
        <img src="assets/img/Utilizador%201.jpg">
      </ion-avatar>
      <h2>Miguel Martins</h2>
      <p>26 de Junho</p>
    </ion-item>

    <img src="assets/img/Marketing.jpg" routerLink="../../../marketing">

    <ion-card-content>
      <p>Resumo de Marketing</p>
    </ion-card-content>

    <ion-row>
      <ion-col>
        <button ion-button color="primary" clear small icon-start>
          <ion-icon name='thumbs-up'></ion-icon>
          3 Gostos
        </button>
      </ion-col>
      <ion-col>
        <button ion-button color="primary" clear small icon-start>
          <ion-icon name='text'></ion-icon>
          4 Comentários
        </button>
      </ion-col>
      <ion-col align-self-center text-center>
        <ion-note>
          3h atras
        </ion-note>
      </ion-col>
    </ion-row>

  </ion-card>
  <ion-card>

    <ion-item>
      <ion-avatar item-start>
        <img src="assets/img/Utilizador%202.jpg">
      </ion-avatar>
      <h2>João Alves</h2>
      <p>10 de Junho</p>
    </ion-item>

    <img src="assets/img/Matemática.jpg" routerLink="../../../matematica">

    <ion-card-content>
      <p>Resumo de Matemática</p>
    </ion-card-content>

    <ion-row>
      <ion-col>
        <button ion-button color="primary" clear small icon-start>
          <ion-icon name='thumbs-up'></ion-icon>
          10 Gostos
        </button>
      </ion-col>
      <ion-col>
        <button ion-button color="primary" clear small icon-start>
          <ion-icon name='text'></ion-icon>
          2 Comentários
        </button>
      </ion-col>
      <ion-col align-self-center text-center>
        <ion-note>
          10h atras
        </ion-note>
      </ion-col>
    </ion-row>

  </ion-card>
  <ion-card>

    <ion-item>
      <ion-avatar item-start>
        <img src="assets/img/Utilizador%203.jpg">
      </ion-avatar>
      <h2>Gonçalo Coutinho</h2>
      <p>1 de Junho</p>
    </ion-item>

    <img src="assets/img/controlo%20gestao.jpg" routerLink="../../../controlo">

    <ion-card-content>
      <p>Resumo de Controlo de Gestão</p>
    </ion-card-content>

    <ion-row>
      <ion-col>
        <button ion-button color="primary" clear small icon-start>
          <ion-icon name='thumbs-up'></ion-icon>
          7 Gostos
        </button>
      </ion-col>
      <ion-col>
        <button ion-button color="primary" clear small icon-start>
          <ion-icon name='text'></ion-icon>
          10 Comentários
        </button>
      </ion-col>
      <ion-col align-self-center text-center>
        <ion-note>
          20h atras
        </ion-note>
      </ion-col>
    </ion-row>

  </ion-card>
  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button routerLink="../../../uploadficheiros">
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>

</ion-content>
