<ion-header>

  <ion-toolbar color="secondary">
    <ion-button slot="start" color="secondary" (click)="back()">
      <ion-icon name="arrow-back" color="" size="large"></ion-icon>
    </ion-button>
    <ion-title align="center">Casa de Apostas</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <p align="center" ><img  src="/assets/img/bet365.png" alt="" (click)="goBet365()" /></p>
  <p align ="center"><img  src="/assets/img/betclick.png" alt="" (click)="goBetclick()" /></p>
  dark
</ion-content>
